.header {
    display: flex;
    align-items: center;
    height: 60px;
    font-size: 16px;
    padding-right: 20px;
    background: url("../../assets/logo.png") 12px center / 180px no-repeat;
    .item {
        height: 40px;
        min-width: 120px;
        text-align: center;
        line-height: 40px;
        border-left: 1px solid #bbb;
        padding: 0 16px;
        color: #555;
        .icon {
            color: #bbb;
            padding-left: 10px;
        }
    }
    .time {
        margin-left: 239px;
        padding-left: 16px;
    }
    .account {
        margin-left: auto;
        border: 0;
        .icon {
            font-size: 20px;
            color: #555;
            padding-right: 10px;
        }
    }
    
}
